@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    font-family: 'Audiowide', cursive;
    font-family: 'Orbitron', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* ------------------------------------------- */
#gradient-canvas {
    width: 100%;
    height: 100vh;
    --gradient-color-2: #0000ff;
    --gradient-color-3: #d000ff;
    --gradient-color-4: #8c00ff;
    --gradient-color-1: #a40279;
}

#gradient-canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    z-index: -5;
}
.big-cont{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.3;
    z-index: -2;
}
/* ------------------------------------------- */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d0d0d0;
    height: 97vh;
    background-color: black;
}

.btn_new_gmae {
    padding: 15px 25px;
    background-color: #b500ff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid white;
    margin-bottom: -10px;
    transition: 300ms ease-in-out;
}

.btn_new_gmae:hover {
    margin: 5px;
}

.check_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
}

.player_X_cont,
.player_0_cont {
    padding: 8px 14px;
    background-color: #b500ff;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
    display: inline-block;
    font-family: sans-serif;
    margin-top: 0;
}

.player_0,
.player_X {
    font-family: sans-serif;
}

.parent {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
}

.carcas_img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.game {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.game__wrap {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.game__row {
    width: 100%;
    height: calc(100%/3);
    display: flex;
}

.buttons {
    position: relative;
    width: calc(100%/3);
    height: 100%;
    border: none;
    cursor: pointer;
    transition: transform 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 90px;
    font-weight: 100;
    padding: 0;
    background-color: transparent;
    text-shadow: -2px -2px 10px #f900ff, 2px 2px 10px #f900ff;
}

.animation {
    content: '';
    position: absolute;
    width: 90%;
    height: 10px;
    background-color: #f900ff;
}

.win_popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000a6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    z-index: 10;
}

.win_popup_text {
    font-size: 50px;
    color: #fff;
    margin-top: 0;
    text-shadow: -2px -2px 10px #f900ff, 2px 2px 10px #f900ff;
}

.button_ok {
    border: 2px solid #fff;
    padding: 5px 25px 10px;
    border-radius: 10px;
    background: #a400ff;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    font-family: cursive;
    cursor: pointer;
    transition: 250ms;
}

.border-right::before {
    content: '';
    position: absolute;
    right: -8px;
    width: 5px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 14px 6px #da00ff;
}

.border-bottom {
    position: relative;
}

.border-bottom::before {
    content: '';
    position: absolute;
    bottom: -7px;
    width: 100%;
    height: 5px;
    background-color: white;
    box-shadow: 0 0 14px 6px #da00ff;
    z-index: 1;
}

/* animation */

.animFrom_O::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 31%;
    left: 31%;
    border-radius: 100%;
    box-shadow: 0 0 14px 8px #f300ff;
    z-index: -1;
    animation: anim_O 300ms linear;
}

.animFrom_X::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 31%;
    left: 31%;
    border-radius: 100%;
    box-shadow: 0 0 14px 8px #f300ff;
    z-index: -1;
    animation: anim_X 300ms linear;
}

@keyframes anim_X {
    0% {
        top: 31%;
        left: 31%;
        opacity: 0;
    }
    1% {
        opacity: 1;
    }

    25% {
        top: 69%;
        left: 64%;
        opacity: 1;
    }

    26% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        top: 31%;
        left: 64%;
    }

    75% {
        top: 69%;
        left: 31%;
        opacity: 1;
    }

    76% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        top: 30%;
        left: 31%;
    }
}

@keyframes anim_O {
    0% {
        top: 31%;
        left: 31%;
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    25% {
        top: 31%;
        left: 65%;
    }

    50% {
        top: 65%;
        left: 65%;
    }

    75% {
        top: 65%;
        left: 31%;
    }

    100% {
        top: 31%;
        left: 31%;
    }
}

@media screen and (max-width:510px) {
    .buttons {
        font-size: 15vi;
    }
}